
<div class="container mt-5" >
  <div class="row">

  <div class="col-md-5" >


  <div  *ngFor="let cart of cartList">
    <img  title={{cart.name}} src={{cart.url}} class="product-image">
   <p>{{cart.name}}</p>
      <p> {{cart.price}}</p>
      <label for="quantity">Amount: </label>

     <input class=" ml-2 mr-2" id="inputZip"  type="number" name="quantity" title="quantity"  min="0" max="10" [(ngModel)]="cart.quantity"  (ngModelChange)="totalPayment()" (ngModelChange)="clearList(cart)">
     <br><br>

    </div>
<br>

<h4><b> Price = ${{totalPrice}}</b></h4>
</div>
<div class="col-md-7" >

<form  #form="ngForm" class="form-margin" (ngSubmit)="submitOrder()">

  <label for="name">Full Name:</label>
<br>
  <input class="form-control w-50  mt-1 " type="text"   name="name" required [(ngModel)]="name" placeholder="(minimum length 3 characters)"  minlength="3">
  <br>
  <label for="adress">Address:</label>
<br>
  <input   class="form-control w-50 mt-1 " type="text" name="address" required [(ngModel)]="address"   minlength="6" placeholder="(minimum length 6 characters">
  <br>
  <label for="card-number">Card Number:</label>
<br>
  <input  class="form-control  w-50  mt-1 " type='number' name="nationalID" required [(ngModel)]="nationalID" minlength="16" placeholder="enter-16-digits" >
  <br>
  <input (click)="submitOrder()" routerLink="/confirmation"  type="submit" name="submit" [disabled]="form.invalid" class="btn btn-primary">
</form>

</div>
</div>
  </div>
